:root {
  --foreground: 14, 16, 17;
  --background: 255, 255, 255;
  --primary: 42, 67, 212;
}

html.dark {
  --background: 14, 16, 17;
  --foreground: 255, 255, 255;
}

// #2a43d4 #1e33ad #060e29 #555c69 #f4f5f6 #5e03d3 #140844
// #0e1011
